@{
    ViewData["Title"] = "Coletas Finalizadas:";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <hr />
</body>
</html>





